﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Admin.master.cs" Inherits="KorisnickiInterfejs.Admin" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head id="Head1" runat="server">
    <title></title>
    <link href="~/Styles/Site.css" rel="stylesheet" type="text/css" />
    <asp:ContentPlaceHolder ID="HeadContent" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="Form1" runat="server">
    <div class="page">
        <div class="header">
            <div class="title">
                <h1>
                    EVIDENCIJA TOKA PRUZENIH USLUGA
                    - ADMINISTRATOR
                </h1>
            </div>
            <div class="loginDisplay">
                <asp:HyperLink ID="HyperLink1" runat="server" Font-Bold="True" 
                    Font-Size="Medium" Font-Underline="True" ForeColor="White" 
                    NavigateUrl="~/Default.aspx">ODJAVA</asp:HyperLink>
            </div>
            <div class="clear hideSkiplink">
                <asp:Menu ID="NavigationMenu" runat="server" CssClass="menu" EnableViewState="false" IncludeStyleBlock="false" Orientation="Horizontal">
                    <Items>
                        <asp:MenuItem Text="USLUGA" 
                            Value="VRSTA USLUGA">
                            <asp:MenuItem NavigateUrl="~/UslugeTabelarni.aspx" 
                                Text="Tabelarni prikaz usluga" Value="Tabelarni prikaz usluga">
                            </asp:MenuItem>
                            <asp:MenuItem NavigateUrl="~/VrstaUslugeUnos.aspx" Text="Unos vrsta usluga" 
                                Value="Unos vrsta usluga"></asp:MenuItem>
                            <asp:MenuItem NavigateUrl="~/UslugATabelaEdit.aspx" 
                                Text="Izmena i brisanje usluge" Value="Izmena i brisanje usluge">
                            </asp:MenuItem>
                            <asp:MenuItem NavigateUrl="~/UslugaStampa.aspx" Text="Stampa spiska usluga" 
                                Value="Stampa spiska usluga"></asp:MenuItem>
                            <asp:MenuItem NavigateUrl="~/UslugaParametarStampe.aspx" 
                                Text="Parametarska stampa spiska usluga" 
                                Value="Parametarska stampa spiska usluga"></asp:MenuItem>
                        </asp:MenuItem>
                        <asp:MenuItem Text="VRSTA USLUGE" 
                            Value="USLUGA">
                            <asp:MenuItem NavigateUrl="~/VrstaUslugeUnos.aspx" Text="Unos vrsta usluga" 
                                Value="Unos vrsta usluga"></asp:MenuItem>
                        </asp:MenuItem>
                    </Items>
                </asp:Menu>
            </div>
        </div>
        <div class="main">
            <asp:ContentPlaceHolder ID="MainContent" runat="server"/>
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="footer">
        
    </div>
    </form>
</body>
</html>

