﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="StampaZaglavlje.master.cs" Inherits="KorisnickiInterfejs.StampaZaglavlje" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
     <title>Fakultet Info</title>
    <link href="~/Styles/Site.css" rel="stylesheet" type="text/css" />
    <asp:ContentPlaceHolder ID="HeadContent" runat="server">
    </asp:ContentPlaceHolder>
    <style type="text/css">
        .style2
        {
   
            color: #99b1bf;
            font-size: medium;
        }
        .style3
        {
            color: #99b1bf;
            font-size: medium;
            margin-left: 0px;
        }
        .style4
        {
            color: #99b1bf;
            font-size: medium;
            width: 35px;
        }
        .style5
        {
            width: 215px;
        }
        </style>
</head>
<body style ="background-color:#e9ebdf" >
    <form id="Form1" runat="server">
                <center>
                <table style="background-color:#e9ebdf ">
                    <tr>
                        <td class="style5" align="right" >
                            <asp:Image ID="Image1" runat="server" Height="200px" 
                                ImageUrl="" Width="231px" />
                        </td>
                        <td class="style4">
                            &nbsp;</td>
                        <td class="style2">
                            EVIDENCIJA TOKA PRUZENIH USLUGA<br />
                            </td>
                        <td class="style4">
                            &nbsp;</td>
                        <td align="left">
                            <asp:Image ID="Image2" runat="server" Height="195px" 
                                ImageUrl="" Width="183px" CssClass="style3" />
                        </td>
                    </tr>
                </table>
                </center>
        <div class="main">
            <asp:ContentPlaceHolder ID="MainContent" runat="server"/>
        </div>
    <div class="footer">
       </div>
    </form>
</body>
</html>

